#selector {
	float: left;
}

#caps {
	clear: both;
}

.button-force-selector {
	border-radius: 0px 0px 20px 20px;
}

#bos {
	background-color: gray;
	color: white;
}

#super_mutants {
	background-color: green;
	color: gray;
}

#survivors {
	background-color: blue;
	color: white;
}

#selector ul li {
	float: left;
	list-style-type: none;
	padding: 5px;
}

.add{
	clear:both;
}

#addSection ul li {
	float: left;
	list-style-type: none;
	padding: 5px;
}

.force{
	clear:both;
}

.characterElement{
	border: 2px; 
	border-color: black;
	border-style: solid;
	padding: 1em;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
	padding: 20px;
}

.carry-section {
	background-color: gray;
}

.cost {
	background-color: red;
	color: white;
	padding: 2px;
}