@font-face {
  font-family: 'Overseer';
  src: url('/fonts/Overseer.otf');
}

@font-face {
  font-family: 'Overseer-Italic';
  src: url('/fonts/Overseer-Italic.otf');
}

body {
	background-color: rgb(40,65,129);
	color: rgb(231, 189, 66);
}

h1 {
	font-family: 'Overseer-Italic';
}

h2 {
	font-family: 'Overseer';
}

#selector {
	float: left;
	margin-top: 0px;
	padding-top: 0px;
}

#languageSelection {
	display: inline-block;
	float: right;
}

#listInfo {
	clear: both;
}

#equipmentToggle {
	padding: 1em;
}

.button-force-selector {
	border-radius: 0px 0px 20px 20px;
}

.choice span {
	padding-right: .2em;
	padding-left: .2em;
}

#bos {
	background-color: rgb(200,200,200);
	color: rgb(75, 75, 75);
}

#super_mutants {
	background-color: rgb(200,200,200);
	color: green;
}

#survivors {
	background-color: rgb(200,200,200);
	color: rgb(40,65,129);
}

#raiders {
	background-color: rgb(200,200,200);
	color: rgb(139,69,19);
}

#selector ul {
	float: left;
}

#selector ul li {
	float: left;
	list-style-type: none;
	padding: 7px;
	padding-top: 0px;
}

#selector ul li :hover {
	background-color: white;
}

.add{
	clear:both;
}

#addSection ul li {
	float: left;
	list-style-type: none;
	padding: 5px;
}

#addMenu {
	width: 100%;
}

#force{
	clear:both;
	width: 100%;
}

.characterElement{
	padding-left: 1em;
	padding-top: 1em;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
	padding: 20px;
}

.carry-section {
	clear: right;
	background-color: rgb(75,75,75);
	padding-left: 1em;
}

.header-section div {
	display: inline-block;
}

.header-section h1 {
	display: inline-block;
	margin-left: .3em;
	margin-right: .3em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.header-section button {
	display: inline-block;
	margin: .1em;
}

.carry-section .header {
	display: inline-block;
}

.carry-section div {
	display: inline-block;
	padding: .1em;
}

.carry-section h2 {
	display: inline-block;
	margin-right: .3em;
}

.carry-section .consumable {
	display: block;
	padding-bottom: .3em;
}

.cost {
	margin: .2em;
	padding: 5px;
	border-radius: 30px;
}

.cost-section {
	padding: 10px;
}

.btn-support {
	float: right;
	margin-right: .5em;
}

.equipmentOption {
	margin-bottom: .5em;
}

.equipmentOption span {
	margin-right: .5em;
}

.btn-left-sm {
	padding: 3px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-top-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;
	position: relative;
	top: -1px;
}

.btn-right-sm {
	padding: 3px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-top-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 10px;
	position: relative;
	top: -1px;
}

.consumeableCount {
	text-align: center;
}

.btn-equipped {
	background-color: rgb(40,65,129);
	color: rgb(231, 189, 66);
}

.btn-unequipped {
	background-color: rgb(200,200,200);
	color: rgb(75, 75, 75);
}

input {
	color: rgb(75, 75, 75);
}

select {
	background-color: rgb(200,200,200);
	color: rgb(75, 75, 75);
}

.btn-background {
	background-color: rgb(231, 189, 66);
	color: rgb(75, 75, 75);
}

.btn-background-off {
	background-color: rgb(200, 200, 200);
	color: rgb(40,65,129);
}